.admin_form_n_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.admin_form_n_inputs {
    width: 100%;
}

.admin_form_n_input {
    width: 100%;
    padding: 10px;
    border: 2px solid #4D7198;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}

.admin_form_n_input:focus {
    outline: none;
    border-color: #8AA9C9;
}
