.home_notifications_content {
    width: 50%;
    margin: auto;
}

.home_notifications_show_all_btn {
    background-color: #59AAF1;
    border: 2px solid #4D7198;
    border-radius: 10px;
    padding: 10px 0;
    margin: 30px;
    width: 25%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.home_notifications_show_all_btn:hover {
    background-color: #71B7F3;
}

.home_notifications_show_all_btn:focus {
    border-color: #8AA9C9;
}
